@use "variables";
@import "media-queries";

.header-all {
  background: variables.$color3;
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  nav {
    .container-fluid {
      button {
        color: transparent;
        span {
          filter: invert(1);
        }
      }
      .navbar-collapse {
        text-align: center;
      }
    }
  }

  @include mobile(480px) {
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
  }
}
