@use "variables";
@import "media-queries";

main {
  section {
    article {
      .container-publicaciones {
        display: flex;
        gap: 2rem;
        margin: 2rem auto;

        .menu {
          background: variables.$color2;
          padding: 1rem;
          margin-left: 1rem;
          border: 4px solid variables.$color4;
          border-radius: 10px;
          height: 50%;
          text-align: center;

          @include mobile() {
            margin: 0;
            position: sticky;
            top: 0;
            z-index: 1;
          }

          .no-margin-padding {
            margin: 0;
            padding: 0;
          }

          li,
          h3 {
            margin-bottom: 0.5rem;
          }

          li {
            list-style: none;
            @include mobile() {
              display: inline;
            }
          }

          a {
            text-decoration: none;
            color: #fff;
          }

          a:hover {
            color: rgb(241, 206, 50);
          }
        }

        .articles-grid {
          background: variables.$color2;
          padding: 1rem;
          border: 4px solid variables.$color4;
          border-radius: 10px;
          margin-right: 1rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
          text-align: center;

          @include mobile() {
            grid-template-columns: 1fr;
            margin: 0;
          }

          .articles-publicaciones {
            background: variables.$color4;
            padding: 1rem;
            border: 4px solid variables.$color5;
            border-radius: 10px;

            img {
              border-radius: 5px;
              margin: 1rem;
              box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.4);
            }

            @include mobile() {
              padding: 0;
            }
          }
          @include mobile() {
            flex-direction: column;
            z-index: 0;
          }

          @include tablet() {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        @include mobile() {
          flex-direction: column;
          z-index: 0;
        }
      }
    }
  }
}
